body {
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    width: 100%;
    text-align: center;
    margin-top: 0px;
    height: 100%;

}

#submit-btn {
    margin: 5px;
    color: white;
    background-color: black;
    font-family:monospace;
    font-size: 14px;
    padding: 7px 30px 7px 30px;
    height: 30px;  
    border-radius: 2px;
    transition: 0.4s;
    outline: none;
    border: none;

}
#submit-btn:hover {
    background-color: wheat;
    color: black;
    border: none;
}


.buffer-div {
    height: 200px;
    width: 100%;
    background-color: wheat;
    text-align: center;


}

.buffer-div h3 {
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: -15px;
    padding-top: 20px;
    

}



.container img {
    width: 70%;
    height: 65%;
    object-fit: cover;

}



.outofstocklabel{

    color: darkred;
    font-weight: bolder;




}


.link-container {

    height: 7%;
    margin-top: 5px;

}

.link-div {
    width: 100%;
}



#all-link {

    margin: 5px;
    font-size: 14px;
    padding: 7px 30px 7px 30px;
    height: 31px;
    color: white;
    background-color: black;
    font-family:monospace;
    border-radius: 2px;
    transition: 0.4s;


}

#all-link:hover {

    color: black;
    background-color: wheat;
    border: none;


}


#product-link {
    color: black;
    padding: 5px 20px 5px 20px;

}

.grid-container {
    margin-top: 10px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;

width: 100%;

}

.grid {

    margin-bottom: 20px;

}

@media(max-width:1120px) {

}

@media(max-width:1100px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    #all-link {
    font-size: 12px;
    padding: 7px 30px;
    height: 30px;
    }
    #submit-btn {
      font-size: 12px;
    padding: 0px 30px;
    height: 28px;  
}
}

@media (max-width:650px){ 
    #all-link {
    font-size: 12px;
    padding: 7px 20px 7px 20px;
    height: 31px;
    }
    #submit-btn {
    font-size: 12px;
    padding: 0px 20px;
    height: 28px;  
}  




}


@media(max-width:600px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
        .grid-container img {
    width: 100% !important;
    height: 70%;

    object-fit: cover;

}


    .container {
        width: 100%;
        margin-left: 0%;
        height: 100%;
    }

   #all-link {
    font-size: 12px;
    padding: 7px 30px 7px 30px;
    height: 31px;
    }
      #submit-btn {
      font-size: 12px;
        padding: 0px 30px;
        height: 28px;  
}   

    .grid span {
        font-size: 0.8rem;
    }


}

