<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmed</title>

    {% load static %}
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />
    <link rel="stylesheet" href="{% static 'MerakiApp/conformation.css'  %}">
    <link rel="icon" href="/static/MerakiApp/images/Meraki Website Icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">

</head>


<body>

    <div class="container">

        <br>
        <div class="confirmed">
            <div class="logo-text" id="first">
                <a href="{% url 'home' %}" id="logo-text"> Meraki Cosmetics</a>
            </div>
            <br>
            <img src="https://img.icons8.com/doodle/512/000000/checkmark.png" />
            <h3>Order Confirmed </h3>

            {% if request.user.is_authenticated %}


            <span>Your Order ID is <span style="color:green;">{{order.orderid}}</span></span>

            {% else %} <span>Your Order ID is <span style="color:green;">{{orderid}}</span></span>
            {% endif %}

            <br>
            <br>
            You can use your Order ID to track your order status
            <br>
            <br>
            <br>

            <a href="{% url 'home' %}" id="all-link">Home Page</a>
            <a href="/ordertracking?orderid={{order.orderid}}" id="all-link">Order Status</a>


        </div>

    </div>



</body>

<br>
<br>

{% include "footer.html" %}
<script>
    function getCookie(name) {
        var cookieArr = document.cookie.split(";");

        for (var i = 0; i < cookieArr.length; i++) {
            var cookiePair = cookieArr[i].split("=");
            if (name == cookiePair[0].trim()) {
                return decodeURIComponent(cookiePair[1]);
            }
        }
        return null;
    }

    var cart = JSON.parse(getCookie('cart'))
    var loggedincookie = JSON.parse(getCookie('loggedincookie'))
    loggedincookie = {}
    var specialinstruct = JSON.parse(getCookie('specialinstruct'))
    specialinstruct = {}
    cart = {}
    document.cookie = 'specialinstruct=' + JSON.stringify(specialinstruct) + ";domain=;path=/"

    document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"






</script>


</html>