{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'MerakiApp/login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <title>Login</title>
</head>

<body>

    <div class="container">



        <div class="signup-container">
            <div class="logo-text">
                <a href="{% url 'home' %}" id="logo-text"> Meraki Cosmetics</a>

            </div>
            <span id="messages">
                {% for message in messages  %}
                {{message}}
                {% endfor %}
            </span>
            <div class="sign-up">

                <form method="POST" autocomplete="off">
                    {% csrf_token %}

                    <label>Email</label>
                    <br>

                    <input type="text" name="username" id="" autocomplete="off">
                    <br>

                    <div class=" underline">
                    </div>
                    <br>
                    <br>

                    <label>Password</label>
                    <br>

                    <input type="password" name="password" id="">
                    <br>

                    <div class="underline"></div>
                    <br>
                    <button type="submit" id="submit">Login</button>
                    <br>
                    <br>
                    <span> Don't have an account? <a href="{% url 'register' %}" id="login-a">Register</a></span>
                    <br>

                    <span> Forgot your Password? <a href="{% url 'reset_password' %}" id="login-a">Reset
                        </a></span>
                </form>

            </div>
            <div class="image-container">



                {% if messages %}
                <div class="image-text" id="img-text">

                    <img src="/static/MerakiApp/anxiety.png" alt="">

                    <span>
                        {% for message in messages  %}
                        {{message}}
                        {% endfor %}
                    </span>

                    <div class="icon-info">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a>
                        from
                        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
                </div>
                {% endif %}

            </div>


        </div>

    </div>
</body>

</html>

<script>
    var fields = document.getElementsByTagName('input')
    fields[1].placeholder = 'Enter Your Email'
    fields[2].placeholder = 'Enter Your Password'
</script>
{% endblock %}