{% include 'newnav.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'MerakiApp/profile.css' %}">
    <title>Profile</title>
</head>

<body>
    <div class="container">

        <div class="left-container">
            asd
        </div>
        <div class="right-container">
            asdaf
        </div>
    </div>
</body>

</html>
{% endblock %}
{% include "footer.html" %}