{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'MerakiApp/register.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <title>Register</title>
</head>

<body>

    <div class="container">
        <div class="signup-container">
            <div class="logo-text">
                <a href="{% url 'home' %}" id="logo-text"> Meraki Cosmetics</a>

            </div>
            <span id="messages">
                {% for message in messages  %}
                {{message}}
                {% endfor %}
            </span>
            <div class="sign-up">

                <form method="POST">
                    {% csrf_token %}
                    <label>First Name</label>
                    <br>

                    {{form.first_name}}

                    <div class="underline"></div>
                    <label>Last Name</label>
                    <br>
                    {{form.last_name}}


                    <div class="underline"></div>

                    <label>Email</label>
                    <br>
                    {{form.email}}
                    <div class="underline"></div>
                    <label>Password</label>
                    <br>
                    {{form.password1}}
                    <div class="underline"></div>
                    <label>Confirm password</label>
                    <br>
                    {{form.password2}}
                    <div class="underline"></div>
                    <button type="submit" id="submit">Register</button>
                    <br>
                    <br>
                    <span> Already have an account? <a href="{% url 'login' %}" id="login-a">Login</a></span>
                </form>
            </div>
            <div class="image-container">



                {% if messages %}
                <div class="image-text" id="img-text">

                    <img src="/static/MerakiApp/anxiety.png" alt="">

                    <span>
                        {% for message in messages  %}
                        {{message}}
                        {% endfor %}
                    </span>

                    <div class="icon-info">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a>
                        from
                        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
                </div>
                {% endif %}

            </div>


        </div>

    </div>
</body>

</html>

<script>
    var fields = document.getElementsByTagName('input')
    fields[1].placeholder = 'Enter Your First Name'
    fields[2].placeholder = 'Enter Your Last Name'
    fields[3].placeholder = 'Enter Your Email'
    fields[4].placeholder = 'Enter Your Password'
    fields[5].placeholder = 'Repeat Your Password'
</script>
{% endblock %}